@font-face {
  font-family: HackRegular;
  src: url(../stylesheets/fonts/Hack-Regular.ttf);
}

@font-face {
  font-family: HackBold;
  src: url(../stylesheets/fonts/Hack-Bold.ttf);
}

@font-face {
  font-family: HackItalic;
  src: url(../stylesheets/fonts/Hack-Italic.ttf);
}

$darkgreen: #678A77;
$buttonGreen: #889A82;
$innerButton: #E6F4F4;
$limegreen: #B2C8AF;
$gold: #B19860;
$grey: #D9D9D9;
$background: #FFFFF2;
$appointmentGreen: rgba(198, 214, 192, 0.7);
$appointmentGrey: rgba(217, 217, 217, 0.7);
$border: #B2726B;
$overlay:rgba(132, 132, 130, 0.7);