@import './base';
@import './_bookBase';

body {
  main {
    background-image: url(../stylesheets/img/book.png);

    .bookHeaderTitle {
      margin-left: 0;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;

      thead > td {
        padding: 2px;
      }

      .evenHours:hover, .oddHours:hover {
        cursor: pointer;
        border: 2px solid $darkGreen;
        box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 1);
      }

      .evenHours {
        background-color: $appointmentGreen;
      }

      .oddHours {
        background-color: $appointmentGrey;
      }

      #weekend td {
        height: 20%;
      }

      #tbodyCal-left > td, #tbodyCal-right > td {
        height: 5%;
      }


    }

    #tableCal-sat, #tableCal-sun {
      height: 50%;
    }

    #left-agenda, #right-agenda {
      width: 40%;
      aspect-ratio: 861/1160;
    }

    #left-agenda {
      margin: 5% 2.5% 5% 7.5%;

      #tableCal-left {
        height: 95%;
      }
    }

    #right-agenda {
      margin: 5% 7.5% 5% 2.5%;
      display: flex;
    }
  }

  nav {
    width: 100%;
    aspect-ratio: 1722/135;
    display: flex;

    > div {
      height: 100%;
    }

    div:nth-child(1) {
      aspect-ratio: 380/67;
    }

    div:nth-child(2) {
      aspect-ratio: 40/67;
      cursor: pointer;
    }

    div:nth-child(3) {
      aspect-ratio: 110/67;
    }

    div:nth-child(4) {
      aspect-ratio: 80/67;

      > a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    div:nth-child(5) {
      aspect-ratio: 244/67;
    }
  }
}

#addMeetSection {
  z-index: 2;

  #clientInput {
    display: flex;
    align-items: center;

    > * {
      margin-right: 2%;
      margin-left: 2%;
    }

    :first-child {
      margin-left: 0;
    }

    :last-child {
      margin-right: 0;
    }

    #addClientBtn {
      height: 5%;
      width: 5%;

      img {
        object-fit: contain;
        filter: invert(84%) sepia(17%) saturate(422%) hue-rotate(358deg) brightness(88%) contrast(90%);
        cursor: pointer;

        &:hover {
          filter: invert(65%) sepia(44%) saturate(368%) hue-rotate(4deg) brightness(87%) contrast(87%);
        }
      }
    }
  }

  #datumInput {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input :not([type=submit]), [type=date] {
      color: $gold;
    }
  }

  h2 {
    color: $buttonGreen;
    padding: 0;
    margin-bottom: 0;
    font-size: 1em;
  }
}


.yellow {
  background-color: yellow;
}

.dateTxt {
  margin: 0;
  display: inline;
  font-size: 0.8em;
  cursor: default;
}

.goldTxt {
  font-family: HackBold;
  color: $gold;
  margin: 5px;
}

.limeTxt {
  font-font: HackItalic;
  color: $limegreen;
}

.buttonGreenTxt {
  color: $buttonGreen;
  font-size: 0.7em;
  padding: 5px;
  text-align: left;
  vertical-align: text-top;
  cursor: default;
}

.timeBorder {
  border-bottom: 1px solid $buttonGreen;
  width: 50%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


